= simple_form_for(@product) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :description
    = f.input :image_url
    = f.input :price

  .form-actions
    = f.button :submit
